@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

a:link, a:visited {
  text-decoration: none;
}

.details {
  display: none;
}

h1, h2, h3, h4 {
  font-size: 50px;
}

.introduction {
  border: 2px solid red;
}
.introduction img {
  width: 100%;
}
.introduction h2 {
  border: 2px solid green;
  font-family: "Poppins", sans-serif;
}

.about-me {
  border: 2px solid yellow;
}

.technical {
  border: 2px solid blue;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

p {
  font-size: 10px;
}

.projects {
  display: grid;
}

.projects img .PP {
  grid-column: 1;
  grid-row: 1;
}