@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

$font-body: "Inter", sans-serif;
$font-display: "Roboto", arial;

$color-black: #000000;
$color-white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  font-style: normal;
  color: $color-black;
}

a:link,
a:visited {
  text-decoration: none;
}

.hello {
  padding: 10px;
}

.nav {
  display: none;
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

.introduction {
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;

  img {
    display: none;
  }

  h2 {
    font-family: $font-body;
  }
  p {
    font-size: 55px;
  }
}

.about-me {
  padding: 10px;
  font-weight: 600;

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
  }

  img {
    width: 100%;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
}
.skills-set {
  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
  }

  p {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
  }
}

.technical {
  padding: 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  justify-content: space-around;
  align-items: center;
  text-align: center;
    p {
      font-size: 10px;
    }
}
.projects {
  display: grid;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    background-color: white;
    border: 2px solid $color-black;
    border-radius: 10px;
    padding: 8px 32px;
  }
}

.projects-text {
  p {
    color: $color-black;
    font-size: 25px;
    padding-top: 20px;
  }
}

.projects img .PP {
  grid-column: 1;
  grid-row: 1;
}

footer {
  width: 100%;
  height: 100px;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-top: 15px;
  }

  p {
    color: #fafafa;
  }
}

@media screen and (min-width: 768px) {
  .technical {
    display: flex;
    justify-content: space-around;
  }

  .details {
    display: contents;
  }

  .projects{
        .PP .projects-text{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr 1fr 1fr;
        }
    
  }
}
