@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$font-body:"Inter", sans-serif;
$font-display:"Roboto", arial;

$color-black: #000000;
$color-white: #fafafa;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    font-style: normal;
    color: $color-black;
}

a:link, a:visited {
    text-decoration: none;
}

.hello{
    border: 2px solid darkcyan;
    padding: 10px;
}

.details{
    display: none;
}

    h1 {
    font-size: 20px;
    font-weight: 500;
    }

.introduction {
    border: 2px solid red;
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;


   // display: flex;
    // align-items: center;
   // justify-content: center;
    // text-align: center;
    
    img{
        width: 100%;
    }

    h2{
        border: 2px solid green;
        font-family: $font-body;
    }
    p{
        font-size: 55px;
    }
}

.about-me {
    border: 2px solid yellow;
    padding: 10px;
    font-weight: 600;

    h2{
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 32px;
    }

    img{
        width: 100%;
    }

    p{
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }    
}

h3{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
}

.technical{
    border: 2px solid blue;
    padding: 10px;
    display: grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: 1fr 1fr 1fr;
    }

    .item{
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    p{
        font-size: 10px;
    }

.projects{
    display: grid;
}


.projects img .PP{
    grid-column: 1;
    grid-row: 1;
}

//@media and min-width{768px

//}